astroid @ file:///home/conda/feedstock_root/build_artifacts/astroid_1688921182135/work
certifi==2023.7.22
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1694897456383/work
coverage @ file:///home/conda/feedstock_root/build_artifacts/coverage_1694013739755/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1690101045195/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1692026125334/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1692542607195/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1673103042956/work
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1675033873689/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1692883585750/work
lazy-object-proxy @ file:///home/conda/feedstock_root/build_artifacts/lazy-object-proxy_1672877780456/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1695080253837/work
mccabe @ file:///home/conda/feedstock_root/build_artifacts/mccabe_1643049622439/work
munkres==1.1.4
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1694920014183/work/dist/numpy-1.26.0-cp311-cp311-linux_x86_64.whl#sha256=7b731396a94ca030092abedab0dd12ee8e5d9900f4ad9116c7427a88837ab787
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
Pillow @ file:///croot/pillow_1695134008276/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1690813113769/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1693086607691/work
ply==3.11
pylint @ file:///home/conda/feedstock_root/build_artifacts/pylint_1690375221593/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1690737849915/work
PyQt5-sip==12.11.0
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1694128424395/work
pytest-cov @ file:///home/conda/feedstock_root/build_artifacts/pytest-cov_1684964868191/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
sip @ file:///work/ci_py311/sip_1676825117084/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1690472772788/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1692311768944/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1695040754690/work
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1677485524200/work
